body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.icon-font{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.panel-footer {
    background-color:#fd8839 !important;
    
  }
  .panel-footer-cr {
    background-color: #fc6a08 !important;
    
  }